.decrementAction {
  margin-right: 5px;
}

.incrementAction {
  margin-left: 5px;
}

.mainInfo {
  display: flex;
  align-items: center;
}

.title {
  margin-right: auto;
}

.ingredients {
  margin-top: 10px;
}
