.root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  position: sticky;
  top: 0;
}

.content {
  margin: 10px 0;
}

.footer {
  display: flex;
  width: 100%;
  height: 32px;
  align-items: center;
  justify-content: center;

  background-color: black;

  color: white;
}

.link {
  &:not(:last-child) {
    margin-right: 10px;
  }

  color: white;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}
